<template name="footer">
    <div class="footer">
        <footer class="page-footer grey lighten-2">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 l4">
                        <h5>Extern Resources</h5>
                        <p>
                            <a href="https://github.com/thamenato/demosthenes"
                            target="_new" title="Code repository on GitHub"
                            ><i class="material-icons">code</i></a>
                            <a href="https://drive.google.com/drive/folders/0Bxl_AQ6nM3yXRml6YUVnZ284Q2c"
                            target="_new" title="Project's folder on Google Drive"
                            ><i class="material-icons">library_books</i></a>
                            <a href="https://demosthenes-team.slack.com/"
                            target="_new" title="Demosthenes on Slack"
                            ><i class="material-icons">chat_bubble</i></a>
                        </p>
                    </div>
                    <div class="col s12 m6 l4 offset-l4">
                        {{> NewIssue}}
                    </div>
                </div>
            </div>
            <div class="footer-copyright grey-text text-darken-3">
                <div class="container">
                    © 2016 Copyright
                </div>
            </div>
        </footer>
        </div>
</template>
